<nav class="navbar navbar-expand-md navbar-light myNavBar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item myMainButton">
                <a class="nav-link glyphicon glyphicon-plus" href="http://localhost:4200/"><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
                    Patients
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/addpatient']">Ajouter un patient</a>
                    <a class="dropdown-item" [routerLink]="['/patient']">Lister les patients</a>
                    <a class="dropdown-item" [routerLink]="['/addetat']">Ajouter un état</a>
                    <a class="dropdown-item" [routerLink]="['/etat']">Lister les états</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus-sign"></span>
                    Médecins
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/addmedecin']">Ajouter un médecin</a>
                    <a class="dropdown-item" [routerLink]="['/medecin']">Lister les médecins</a>
                    <a class="dropdown-item" [routerLink]="['/addservicem']">Ajouter un service</a>
                    <a class="dropdown-item" [routerLink]="['/servicem']">Voir les services</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class=""></span><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                        class="glyphicon glyphicon-scissors"></span>
                    Opérations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/addoperation']">Ajouter</a>
                    <a class="dropdown-item" [routerLink]="['/operation']">Lister</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-home"></span>
                    Salles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/addsalle']">Ajouter</a>
                    <a class="dropdown-item" [routerLink]="['/salle']">Lister</a>
                </div>
            <li class="myName">
                <p>Bonjour {{name}} !</p>
            </li>
            <button type="button" (click)="logout()" class="btn myButton glyphicon glyphicon-off myDeco"></button>
        </ul>
    </div>
</nav>