<div class="container">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <h3>Modifier un service médical</h3>
            <hr />
            <form [formGroup]="myForm" (ngSubmit)="updateServiceM(serviceMCourant)" class="was-validated">
                <div class="form-group">
                    <label for="nomService">Nom du service</label>
                    <input type="text" class="form-control" id="nomService" placeholder="Entrer le nom du service"
                        formControlName="nomService" [(ngModel)]="serviceMCourant.nomService" required>
                </div>
                <button type="submit" class="btn myButton" [disabled]="myForm.invalid">Modifier</button>
                <button type="button" (click)="onReset()" class="btn myButton">Réinitialiser</button>
            </form>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>