<div class="container">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <h3>Modifier un état</h3>
            <hr />
            <form [formGroup]="myForm" (ngSubmit)="updateEtat(etatCourant)" class="was-validated">
                <div class="form-group">
                    <label for="libelleEtat">Libellé de l'état</label>
                    <input type="text" class="form-control" id="libelleEtat" placeholder="Entrer le libellé de l'état"
                        formControlName="libelleEtat" [(ngModel)]="etatCourant.libelleEtat" required>
                </div>
                <button type="submit" class="btn myButton" [disabled]="myForm.invalid">Modifier</button>
                <button type="button" (click)="onReset()" class="btn myButton">Réinitialiser</button>
            </form>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>