<div class="container">
    <div class="row">
        <div class="col-sm-0">
        </div>
        <div class="col-sm-12">
            <h3>Liste des patients</h3>
            <hr />
            <div>
                <input class="form-control mySearch" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                    placeholder="Rechercher un patient">
            </div>
            <table class="table table-sm table-hover myTable">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Dossier médical</th>
                        <th scope="col">Etat</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of listPatients | filter:searchText">
                        <td>{{patient.idPatient}}</td>
                        <td>{{patient.nomPatient}}</td>
                        <td>{{patient.prenomPatient}}</td>
                        <td>{{patient.dossierPatient}}</td>
                        <td>{{patient.etatPatient.libelleEtat}}</td>
                        <td><button type="button" [routerLink]="['/updatepatient',patient.idPatient]"
                                class="glyphicon glyphicon-cog btn btn-warning"></button></td>
                        <td><button type="button" (click)="deletePatient(patient.idPatient, i)"
                                class="glyphicon glyphicon-trash btn btn-danger"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-0">
        </div>
    </div>
</div>